.no-bottom-line {
    border-bottom: unset !important;
}

.btn-group.bootstrap-select {
    width: 100% !important;
}

.bottom-plain-block {
    width: 100%;
    height: 30px;
}


/****** 5-star rating ****/
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
}
label {
    margin: 0;
    padding: 0;
}

body {
    /*margin: 20px;*/
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 0 5px;
    font-size: 18px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.icon-search.icon:before {
    display: inline-block;
    content: "\f002";
    cursor: pointer;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/**** end star-rating ****/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.active.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid #E7E7E7;
    border-top-color: #929292;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}